# Paper broker (https://papertrade.algotrade.vn/arena/arena26/)
PAPER_USERNAME=<your_username>
PAPER_PASSWORD=<your_password>
SENDER_COMP_ID=<your_fix_sender_comp_id>
TARGET_COMP_ID=SERVER
PAPER_ACCOUNT_ID_D1=main
PAPER_REST_BASE_URL=https://papertrade.algotrade.vn/accounting
SOCKET_HOST=papertrade.algotrade.vn
SOCKET_PORT=5001

# Live market data (Redis)
MARKET_REDIS_HOST=<redis_host>
MARKET_REDIS_PORT=6380
MARKET_REDIS_PASSWORD=<redis_password>
